time {
  cursor: default;
}

.page-header h1 a, .page-header h1 a:visited  {
  color: #333;
}

.page-header h1 a:hover {
  text-decoration: none;
}

.container {
}

label.checkbox li {
  list-style: none;
}

.post {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
}

.post .title {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.post .meta {
  display: block;
  line-height: 20px;
  color: #999999;
  font-size: 85%;
  float: right;
  margin-left: 6px;
}

.post .meta::before {
  content: '\2014 \00A0';
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container .credit {
  margin: 20px 0;
}
