<form method="post" action="<%= url_for :rss %>">
  <input type="text" name="url" />
  <input type="submit" />
</form>

<form method="post" action="<%= url_for :twitter %>">
  <input type="submit" />
</form>

<form method="post" action="<%= url_for :github %>">
  <input type="submit" />
</form>
