<% @posts.each do |p| %>
  <%= partial :post, :locals => { :post => p } %>
<% end %>

<ul class="pager">
  <% if @page_num > 1 %>
    <li class="previous"><a href="<%= url_for(:page, :id => @page_num-1) %>">&#8592; Newer</a></li>
  <% end %>

  <% if @page_num < @pages %>
    <li class="next"><a href="<%= url_for(:page, :id => @page_num+1) %>">Older &#8594;</a></li>
  <% end %>
</ul>
