<% @posts.each do |p| %>
  <%= partial :post, :locals => { :post => p } %>
<% end %>

<ul class="pager">
  <li class="previous"><a href="<%= url_for(:page, :id => @page_num+1) %>">← Older</a></li>
  <% if @page_num > 1 %>
    <li class="next"><a href="<%= url_for(:page, :id => @page_num-1) %>">Newer →</a></li>
  <% end %>
</ul>
